<div class="large-3 small-6 columns">
  <div class="panel " style="height:200px;">
  	<h3>Today Reviews</h3>
    <h6 class="panel">Description</h6> 
  </div>
</div>

<div class="large-3 small-6 columns">
  <div class="panel "style="height:200px;">
  	<h3>Todays Comments</h3>
    <h6 class="panel">Description</h6> 
  </div>
</div>

<div class="large-3 small-6 columns">
 <div class="panel "style="height:200px;">
  	<h3>Total Users</h3>
    <h6 class="panel">Description</h6> 
  </div>
</div>

<div class="large-3 small-6 columns">
 <div class="panel "style="height:200px;">
  	<h3>Contact Us</h3>
    <h6 class="panel">Description</h6> 
  </div>
</div>

