<div class='box photo col2'>
    <a href="#"><img src='images/prod_thumb.png' /></a>
    <h4 style="text-align:center"><strong>Reviews</strong></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel ligula vel felis pretium gravida...</p>
    <p style="text-align:center">       
      <%= link_to "Details", reviews_path, :class => "button small radius"  %>
    </p>
</div>
            

<div class='box photo col2'>
    <a href="#"><img src='images/prod_thumb.png' /></a>
    <h4 style="text-align:center"><strong>Comments</strong></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel ligula vel felis pretium gravida...</p>
    <p style="text-align:center">
        <%= link_to "Details", comments_path, :class => "button small radius"  %>
    </p>
</div>



<!-- photo -->
<div class='box photo col2'>
    <a href="#"><img src='images/prod_thumb.png' /></a>
    <h4 style="text-align:center"><strong>Job Name</strong></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel ligula vel felis pretium gravida...</p>
    <p style="text-align:center"><a href="#" class="button small radius">Details &raquo;</a></p>
</div>

<!-- photo -->
<div class='box photo col2'>
    <a href="#"><img src='images/prod_thumb.png' /></a>
    <h4 style="text-align:center"><strong>Job Name</strong></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel ligula vel felis pretium gravida...</p>
    <p style="text-align:center"><a href="#" class="button small radius">Details &raquo;</a></p>
</div>

